
<!doctype html>
<html>
<head>
    
    <link rel="stylesheet" type="text/css" href="css/signinup.css">
      <script src="https://apis.google.com/js/platform.js" async defer></script>
<script> window.onLoadCallback = function(){ gapi.auth2.init({ client_id: 'filler_text_for_client_id.apps.googleusercontent.com' }); } </script>   
    <title>Enter appliance info </title>
</head>
    
    <body>
    
    <div class="login-box" style="width:300px; height:900">
    <img src="avatar.png" class="avatar">

        <h1>Welcome!!</h1>
            {{#if error}}
            
            <p> <em>{{error}}</em> </p>
            {{/if}}
            <form method="POST">
         
<input type="text" required name="appliance" placeholder="Enter appliance">
<input type="text" required name="type" placeholder="Enter type">
<input type="text" name="region" placeholder="Enter region">
<input type="text" required name="qty" placeholder="Enter quantity">
<input type="text" required name="rt" placeholder="Enter running time">

            <input id="#signin" type="submit" name="submit" value="Calculate">
            </form>
        
    </div>
        <script src="./javascript/frontsignin.js"></script>
    </body>
</html>



