<!DOCTYPE html>
<html>
<head>
    <title>CarbonCounter</title>
    <link rel="stylesheet" type="text/css" href="css/landing.css">
      <script src="https://apis.google.com/js/platform.js" async defer></script>


    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<script> window.onLoadCallback = function(){ gapi.auth2.init({ client_id: 'filler_text_for_client_id.apps.googleusercontent.com' }); } </script>
</head>
<body>
    
    <div class="loginsection">
        
        <div class="login">
            <a href="/vehicle">vehicle</a>
            <a href="/appliance">appliance</a>
            <a href="/power">emission</a>

        </div>
    </div>
    
</body>
</html>