*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 1.4;
    font-family: 'Raleway', sans-serif;
    color: aliceblue;
    text-align: center;
}

body{
    background-image: linear-gradient(navy,blueviolet,crimson);
}

img{
    width:100%;
    height: 100%;
    object-fit: cover;
}



.section{
    display: flex;
    width: 100%;
    height:9%;
    justify-content: space-around; 
}




.button{
    display: block;
    box-shadow: 3px 3px 5px black ;
    background-color: blueviolet;
    text-decoration: none;
    text-transform: uppercase;
    padding: 3%;
    transition: 100 ease-in;
}

.button:hover{
    box-shadow: none;
    transform: translateX(4px);
    transform: translateY(2px);
    
}

.Overlay{
    height:100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.65);
    z-index:-1;
}

.logo{
    position: fixed;
    top: 0;
    left: 0;
    width: 18%;
    height: 9%;
    padding: 1.5%;
    background-color: blueviolet;
    z-index: 2;
}

.utilities{
    position: fixed;
    top: 0;
    left: 81.9%;
    width: 18%;
    height: 9%;
    background-color: skyblue;
    display: flex;
}

.utility{
    width: 34%;
    height: 100%;
}


.utility>img{
    width: 70%;
    height: 100%;
    padding: 16%;
    margin: 5% auto;
}


.profile{
    width: 18%;
    height: 100%;
    background: url({{userdp}});
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    text-align: center;
    position: fixed;
}

.img{
    width: 60%;
    height: 23%;
    margin:15% 20%;
}

.img>img{
    border-radius: 50%;
    box-shadow: 5px 5px 20px black;
}



.profileName{
    width:70%;
    padding: 5%;
    margin: auto;
    margin-bottom: 15%;
    border-bottom: 1px solid cyan;
}

.editbutton{
    margin: 10% 15%;
    width: 70%;
    padding: 3%;
}

.chats{
    width: 18%;
    height: 100%;
    position: fixed;
    top: 9%;
    left: 81.9%;
    display: flex;
    flex-direction: column;    
}


.chatsUser{
    display: flex;
    height: 10%;
    padding: 4% 5%;
    border-bottom: 0.1px solid black;
}

.chatsUserPic{
    width:50;
    height: 100%;
}

.chatsUserPic>img{
    border-radius: 50%;
}

.chatsUserName{
    padding: 4% 10%;
}


.info{
    margin-left: 18%;
    margin-top: 4.1%;
    width: 64%;
}

.link{
    height:100%;
    padding: 2%;
    flex-grow:1;
    font-size: 0.8em;
    background-color: #660000;
    box-shadow: none;
}

.link:hover{
    color:deepskyblue;
}

.posts{
    display:flex;
    flex-flow : wrap;
}

.post{
    display:flex;
    flex-direction: column;
    width: 33.3%;
    height: 55%;
}

.postimage{
    height: 80%;
}

.postcaption{
    height: 20%;
    background-color:rgba(138,43,226 ,0.5);
    padding: 1% 1%;
    text-align: left;
}

#friends{
    display:flex;
    flex-wrap: wrap;
}

.friend{
    height: 36%;
    width:19%;
    display: flex;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 0.5%;
    margin-left: 0.5%;
    flex-direction: column;
    border: 1px solid ;
    box-shadow: 2px 2px 18px black;
}

.friendImage{
    width:70%;
    height: 50%;
    margin: 10% auto;
    overflow:hidden;
    border-radius: 50%;
    box-shadow: 3px 3px 18px black;
}


.friendName{
    padding: 5%;
    height: 30%;
    flex-grow: 1;
}

.friendName>a{
    font-size: 0.7rem;
    margin: 10%;
    padding: 5%;
}

