*,html{
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

body{
	background-color: #228B22;
	width: 100%;
	height: 100%;
	color: white;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    text-align: center;
}

.navigationbar{
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 9%;
	background: blueviolet;
}

.logo{
    display: block;
	margin-left: 0;
	letter-spacing: 0.2em;
	padding-top: 1.2%;
	padding-left: 3%;
	font-size: 1.5rem;
 }

.navigationbarlinks{
	margin-left: 65%;
	display: flex;
	width: 40%;
}

.aboutus{
	margin-right: 3%;
	height: 100%;
	width: 35%;
	padding-top: 7%;
}

.contactus{
	margin-right: 3%;
	height: 100%;
	width:65%;
	padding-top: 7%;
}

a{
	display: block;
	text-decoration: none;
	width: 100%; 
	color: white;
}

a:hover{
	color: black;
}

.loginsection{
    scroll-snap-align:start;
	padding-top: 21%;
	width: 100%;
	background-image: url(back4.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}


.loginlogo{
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    height:15em;
    margin-top: -8%;
    margin-bottom: 2%;
    font-weight: 800;
}



svg {
    display: block;
    font: 5.5em 'Montserrat';
    width: 100%;
    height: 120%;
    box-sizing: border-box;
    padding-bottom: 4%;
}



.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #4D163D;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #840037;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #BD0034;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #BD0034;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #FDB731;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}

.login{
	padding-left: 20%;
	margin: 0% auto;
	height: 15em;
	width: 40%;
}

.login>a{
	width: 11%;
	padding: 3% 18%;
	border: 3px solid ;
	margin: 2%;
	border-radius: 3px;
	background-color: black;
}

.login>a:hover{
	background-color: #4D4DFF;
}

.feature{
	display: flex;
	height: 100vh;
    scroll-snap-align:start;
}

.feature>img:nth-child(2n+1){
	display: block;
	width:50%;
    padding: 10% 0% 5% 0%;
    object-fit: cover;
}

.feature>img:nth-child(2n){
	display: block;
	width:50%;
    padding: 10% 0% 5% 0%;
    object-fit: cover;
}

.feature>p{
	letter-spacing:0.2em;
	width: 50%;
	padding: 13%;
	line-height: 2em;
    font-size: 1.5em;
}

#about{
    scroll-snap-align:start;
    display: flex;
    width: 100%;
    height: 80vh;
    margin-bottom: 5vh;
}

.abouts{
    width: 30%;
    height: 100%;
    margin: 0% auto;
}

.abouts:hover{
    background-color: rgba(0,0,0,0.2);
}

.abouts>img{
    display: block;
    align-content: center;
    width: 60%;
    margin: 10% auto;
    height: 45%;
    border-radius: 50%;
}

.aboutname{
    width: 60%;
    margin: 10% auto;
    height: 7%;
    border-bottom: 1px solid white;
}