*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 1.4;
    font-family: 'Raleway', sans-serif;
    color: aliceblue;
    text-align: center;
}

body{
    background-image: linear-gradient(navy,crimson,crimson);
}

img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.button{
    display: block;
    box-shadow: 2px 2px 5px black ;
    background-color: dodgerblue;
    text-decoration: none;
    text-transform: uppercase;
    padding: 3%;
}

.cover{
    height:50%;
    position: relative;
}

.cover>img{
    width:100%;
    height:100%;
    object-fit:cover;
}


.profile{
    width: 22%;
    height: 80%;
    border:1px solid white ; 
    background: url(../images/Zayn-malik.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 5px 5px 10px black;
    overflow: hidden;
    text-align: center;
    position: fixed;
    top: 10%;
    left: 4%;
}

.profileOverlay{
    height:100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.75);
    z-index:-1;
}

.img{
    width: 60%;
    height: 35%;
    margin:15% 20%;
}

.img>img{
    border-radius: 50%;
    box-shadow: 5px 5px 20px black;
}



.profileName{
    width:70%;
    padding: 5%;
    margin: auto;
    margin-bottom: 15%;
    border-bottom: 1px solid cyan;
}

.editbutton{
    margin: 10% auto;
    width: 55%;
    padding: 3%;
}

.info{
    margin-left: 30%;
}

.section{
    display: flex;
    width: 100%;
    height:9%;
    justify-content: space-around; 
}

.link{
    height:100%;
    padding: 2%;
    flex-grow:1;
    font-size: 0.8em;
    background-color: #660000;
}

.link:hover{
    color:deepskyblue;
}

.photos{
    display:flex;
    flex-flow : wrap;
}

.image{
    width: 33.3%;
    height: 40%;
}

#about{
    line-height: 2;
    padding: 10% 20%;
    background-color: #004d99;
}

#friends{
    display:flex;
    flex-wrap: wrap;
}

.friend{
    height: 36%;
    width:18%;
    display: flex;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 2%;
    flex-direction: column;
    border: 1px solid ;
    box-shadow: 2px 2px 18px black;
}

.friendImage{
    width:70%;
    height: 50%;
    margin: 10% auto;
    overflow:hidden;
    border-radius: 50%;
    box-shadow: 3px 3px 18px black;
}


.friendName{
    padding: 5%;
    height: 30%;
    flex-grow: 1;
}

.friendName>a{
    font-size: 0.7rem;
    margin: 10%;
    padding: 5%;
}





