body{
    margin: 0;
    padding: 0;
    background: url(../../images/back3.jpg);
	background-repeat:no-repeat;
	background-size:cover;
    font-family: sans-serif;
}
.login-box{
	margin-top:2%;
    width: 300px;
    height: 535px;
    background: #228B22 ;
    color: #fff;
    top: 50%;
    left: 50%;
    border-radius: 3%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.login-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.login-box input{
    width: 100%;
    margin-bottom: 20px;
    font-weight: bold;
}
.login-box input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 12px;
}
.login-box input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    background: rgba(1c,8a,db,0.5);
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.login-box input[type="submit"]:hover
{
    cursor: pointer;
    background: #228B22;
    color: #000;
}

.login-box a{
     text-decoration: none;
    font-size: 13px;
    line-height: 20px;
    color: #D3D3D3  ;
}
.login-box a:hover
{
    color: #39dc79;
}






























































